* {
	color: white;
	font-size: 1em;
	font-family: Consolas, monospace;
}

body {
	padding: 0;
	margin: 0;
	background-color: #303030;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0.75vh 0 0.75vh 0;
	background-color: #252525;
	text-align: center;
}

header img {
	width: 8vh;
	height: 8vh;
	display: inline-block;
	vertical-align: top;
}

header h1 {
	margin-left: 0.5vw;
	display: inline-block;
	vertical-align: top;
	font-size: 3vh;
}

nav {
	position: fixed;
	top: calc((0.75vh * 2) + 8vh);
	width: 100%;
	padding: 0.75vh 0 1vh 0;
	background-color: #252525;
	text-align: center;
}

nav a {
	margin: 0 1vw 0 1vw;
	display: inline-block;
}

main {
	position: fixed;
	top: calc((0.75vh * 3) + 1vh + 8vh + 1em);
	width: 100%;
	max-height: calc(100vh - (0.75vh * 5) - 1vh - 8vh - 2em);
	background-color: #303030;
	word-wrap: break-word;
	text-align: center;
	overflow: auto;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.75vh 0 0.75vh 0;
	background-color: #252525;
	text-align: center;
}

a:link {
	color: lightblue;
	text-decoration: none;
}

a:visited {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

table {
	width: 100%;
	margin: 0 auto 0 auto;
	border:	2px solid #252525;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
}

th {
	background-color: #303030;
	border:	2px solid #252525;
}

tr {
	border:	2px solid #252525;
}

tr:nth-child(odd) {
	background-color: #303030;
}

tr:nth-child(even) {
	background-color: #404040;
}

td {
	padding: 0.25vh 0 0.25vh 0;
	border:	2px solid #252525;
}

td a {
	display: inline-block;
}

input {
	margin: 0 auto 1vh auto;
	display: block;
	padding: 0.75vh;
	background-color: #404040;
	border: 2px solid #252525;
}

textarea {
	height: 10vh;
	margin: 0 auto 1vh auto;
	display: block;
	padding: 0.75vh;
	background-color: #404040;
	border: 2px solid #252525;
}

article {
	margin: 0 auto 0 auto;
	max-width: calc((100vh - (0.75vh * 5) - 1vh - 8vh - 2em) / 1.294);
	max-height: calc(100vh - (0.75vh * 5) - 1vh - 8vh - 2em);
	line-height: 2em;
	text-align: left;
	word-wrap: break-word;
}

article h1 {
	text-align: center;
}

article p {
	text-indent: 2em;
}